* {
    margin: 0;
    padding: 0;
    color: white;
}

section {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar {
    display: flex;
    font-weight: 600;
}

.logo {
    width: 100px;
    height: 50px;
    padding: 40px 30px;
        position: absolute;
    top: 0;
    left: 20px;
}

div ul {
    display: flex;
    list-style: none;
    margin-top: 30px;
    position: absolute;
    right: 50px;

}

ul li {
    text-decoration: none;
    padding: 20px;
}

li a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: orangered;
    display: block;
    margin: auto;
    
    transition: 0.5s;
}

li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 41%;
    left: 5%;
}
.child{
    display: none;
}
.text-box h1 {
    font-size: 60px;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 14px;
    font-family: monospace;
}

.btn {
    text-decoration: none;
    font-family: sans-serif;
    border: 1px solid white;
    padding: 12px 34px;
    position: relative;
    top: 40px;
}

.btn:hover {
    background: rgb(179, 48, 48);
    cursor: pointer;
    transition: 0.5s;
}



/* ------------880px---------------- */
@media only screen and (max-width:880px) {
    .navbar ul {
        right: 10px;
        margin-bottom: 20px;
    }
}
/* ----------------------770pc-------------------= */
@media only screen and (max-width:770px) {

    .logo{
        width: 90px;
    height: 40px;
    padding: 40px 20px;
    margin-top: 6px;
    }

    .text-box h1 {
        font-size: 50px;
        font-family: "Zalando Sans Expanded", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        font-style: normal;
    }

    .text-box p {
        margin: 10px 0px 40px;
        font-size: 10px;
        font-family: monospace;
    }
}
/* ---------------------670px--------------- */
@media only screen and (max-width:670px){
    li a{
        
        font-weight: bolder;
    }
    ul li a{
        display: none;
    }
    
     .toggle-btn .fa-bars{
        display:block;
    }
}
/* ----------------------520px----------------------- */
@media only screen and (max-width:520px){
      .text-box h1 {
        font-size: 30px;
        font-family: "Zalando Sans Expanded", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
       .text-box {
        font-size: 15px;
    }
     .toggle-btn .fa-bars{
        display:block;
    }
}


div .fa-bars{
    display: none;
    padding: 13px;
    font-size:  30px;;
}


/* SECTION 2 */
.course {
    background-image: none;
    width: 100%;
    height: 75vh;
    color: black;
}
.course h1{
    border-bottom: 2px solid red;
}
.course .heading{
    text-align: center;
    /* font-size: 20px; */
    padding: 60px;
    top:30px;
    position: relative;
       font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.course p {
     color: rgb(141, 141, 141);
     margin-top: 10px;
     
}
/* 770 WIDHT */
 @media only screen and (max-width:770px){
     .boxes{
        flex-direction: column;
    }
    .campus .container{
        position: relative;
         top: 27%;
    }
} 
/* 550 WIDHT */
 @media only screen and (max-width:550px){
    h1{
        font-size: 25px;
    }

}
 .boxes{
    display: flex;
    text-align: center;
    justify-content: space-between; 
} .box{
    background-color:beige;
    border-radius: 10px;
    margin: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
      font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal; 
 }
.box h3{
    font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.box:hover{
    box-shadow: 1px 1px 10px 1px grey;
    transition: 0.5s;

}  
/* SECTION 3 */
.campus{
    background-image: none;
    text-align: center;
    
}
.campus h1{
   border-bottom: 2px solid red;
   
}
.campus .heading{   
    text-align: center;
    padding: 60px;
    position: relative;
    bottom: 90px;
       font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* -------------------770px----------------- */
 @media only screen and (max-width:770px){
    .campus .heading{
        position: relative;
          top: 195px;
    }
} 
/* -------------------------------------------------- */
.campus p{
    color: grey;
}
.container{
    display: flex;
    justify-content: center;
}
.container h3{
  color: black;
  display: none;
  
}
.container img{
    width: 70%;
    text-align: center;
    border-radius: 10px;
}
.img1:hover h3{
    display: block;
    background: rgba(82, 81, 81, 0.279);
    position: relative;
    bottom: 93%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    transition: 1s;
    font-size: xx-large;
      font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.img2:hover h3{
    display: block;
    background: rgba(70, 70, 70, 0.279);
    position: relative;
    bottom: 93%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    font-size: xx-large;
      font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.img3:hover h3{
     display: block ;

      background: rgba(72, 71, 71, 0.279);
    position: relative;
    bottom: 93%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    font-size: xx-large;
      font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.imgs:hover img{
    background-blend-mode: color red;
    
    box-shadow: 2px 2px 20px 1px rgb(75, 75, 75);
    transition: 0.5s;
}
/* -------------------1290px----------------- */
@media only screen and (max-width:1290px){
    .img1:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 95%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}
.img2:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 95%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}
.img3:hover h3{
      background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 95%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}
}
/* ------------------------------------------------------ */

/*------------------ 1000 PX--------------------- */
@media only screen and (max-width:1000px){
    .img1:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 94%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}

.img2:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 94%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}
.img3:hover h3{
      background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 94%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}
}

/* ---------------------770PX----------------------- */

@media only screen and (max-width:770px){
    .img1:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 93%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}


.img2:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 93%;
    height: 92.4%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;
}
.img3:hover h3{
      background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 93%;
    height: 90%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    /* transition: 0.5s; */
    font-size: large;

}
}

/* ----------------670px----------- */
 @media only screen and (max-width:670px){
    .img1:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 92%;
    height: 85%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    font-size:10px;
}

.img2:hover h3{
    background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 92%;
    height: 85%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;

    font-size:10px;
}
.img3:hover h3{
      background: rgba(147, 147, 147, 0.279);
    position: relative;
    bottom: 92%;
    height: 85%;
    left: 15%;
    width: 70%;
    border-radius: 10px;
    color: black;
    font-size:10px;
}
} 

.last h4{

    margin-bottom: 20px;
    font-weight: bolder;
     font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.last{
    padding: 20px;
    position: relative;
        top: 40%;
    font-size: smaller;
}
span{
    padding: 20px;
}
/* =----------------------------34px---------------------- */
@media only screen and (max-width:317px){
    .heading {
        position: relative;
        top: 50px;
    }
}

 @media only screen and (max-width:2500px){
.last{
    padding: 20px;
    position: relative;
    top: 33%;
    font-size: smaller;
    margin-top: 57px;
}
 }
